
html{
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'RubikRegular';
}
body{
    background-color: #ffefd5;/* #ecdec8; */ /* #E6E6FA */
    display: grid;
    grid-template-areas: "header header header header header header header header header header header header"
                         "about about about about about about about about about about about about "
                         "project project project project project project project project project project project project "
                         "footer footer footer footer footer footer footer footer footer footer footer footer ";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto auto;
    overflow-x: hidden;
    position: relative;
    
}
header{
    width: 100vw;
    height: 500px;
    /* max-height: 100vh; */
    min-height: 100vh;
    /* background: url('./images/hero3.png') no-repeat 25% 100% fixed;
    background-size: 45%;
    background-blend-mode: overlay; */
}
nav{
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 56px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 3px 0px;
    transition: all .5s ease-in;
    z-index: 999999;
}
#pt_container_canvas{
    width: 100% !important;
    height: 100vh !important;
    min-height: 100vh !important;
    max-height: 100vh !important;
    position: absolute;
    left: 0;
    top: 0;
    /* top: 56px; */
    z-index: 99999;
}
#pt_container{
    /* width: 100vw; */
    /* height: 100vh !important; */
    /* position: relative;
    left: 0;
    top: 0; */
    /* z-index: 2; */
    position: absolute;
    top: 56px;
}



/* a:link
a:visited
a:hover
a:active
 */

.fixed-nav{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 56px;
    max-height: 56px;
    min-height: 56px;
}
div.banner{
    display: grid;
    min-height: 100vh;
    width: 100vw;
    place-items: center;
    color: #fff;
    grid-auto-rows: minmax(100px, auto);
    padding: 5rem 5vw;
}
.flex{
    margin-bottom: 20px;
}
p.typewriter{
    color: #000;
    background-color: #ffffffa3;
    /* padding: 20px; */
    border-radius: 50px;
    /* margin-left: 8px; */
    cursor: text;
    position: relative;
    min-width: 320px;
    max-width: 340px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0 1px 6px #1d2c7e71;
}
button.btn-typewrite {
    position: relative;
    left: 20px;
    top: 45px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #222121;
    z-index: 99;
}

button.btn-typewrite i.icofont-search-2{
    font-weight: bold;
    font-size: 25px;
}
.wrap{
    position: absolute;
    left: 20px;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: 'RubikMedium';
    letter-spacing: 3px;
    /* font-size: 25px; */
    border-right: 3px solid #222121;
    /* animation: blink 0.8s infinite; */
}
.wrap::before{
    content: "\00A0 \00A0 \00A0 \00A0 \00A0";
}

#about{
    grid-area: about;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #f2f2f2;
    padding: 25px;
}
section#about .title{
    text-align: center;
    padding: 50px 0;
}

section#about .title h2{
    color: #484848;
    text-align: center;
    font-family: 'RubikRegular';
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 1.5;
}
section#about article{
    /* max-width: 60%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: 200px;
    row-gap: 50px; */
    grid-gap: 30px;
}
.image-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    background-color: #eee;
    /* cursor: pointer; */
    -webkit-tap-highlight-color: transparent;
}
.image-box.ps{
    display: none;
}
img.tools-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#project{
    grid-area: project;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: #fff;
    padding: 2em;
    background: url('./images/bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.87);
    height: 800px;
}
#project > *, code h1{
    font-family: 'RubikRegular';

}
.title h2 span{
    font-family: 'RubikRegular';
    letter-spacing: 2px;
    font-size: 3vh;

}
#project .title{
    width: 70vw;
    height: 5vh;
    text-align: center;
    margin-bottom: 20vh;
}
.deadline{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 70vw;
}
.deadline-format > h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5.2vw;
}
.notice{
    display: flex;
    justify-content: center;
    height:91.2px;
    width: 60vw;
}
#arena{
    display: flex;
    align-items: center;
    padding: 15px;
    box-shadow: 2px 2px 18px dodgerblue;
    border-radius: 10px;
    height: 15vw;
    /* width: 50vw; */
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
  }
  #arena > * {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-family: 'RubikRegular';
  }
  
  #arena > *:not(:last-child) {
    border-right: 1px dashed dodgerblue;
  }
  
  #arena > * span {
    font-size: 2.2vw;
  }
 
  .msg-box {
    width: 30vw;
    margin: 20px auto;
    padding: 10px;
    background-color: dodgerblue;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 2vw;
    height: auto;
  }

  .pulsate{
      animation: pulse 1s;
  }

  @keyframes pulse{
      from{transform: scale(1);}
      to{transform: scale(1.1)}
  }
  
footer{
    grid-area: footer;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0 2vw;
    padding-left: 10vw;
}
.nav-header{
    width: 150px;
    min-width: 50px;
    height: 50px;
    /* margin-right: 2%; */
    /* background-color: #a2a2a2; */
}
.nav-header > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.logo{
    height: 50px;
}
.links-container{
    width: 90%;
    max-width: 100%;
    /* height: auto !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.links-container ul{
    width: 100%;
    height: 56px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
}
.links-container ul li{
    height: 100%;
    min-width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1vw;
}
.links-container ul li > a{
    text-decoration: none;
    font-weight: bold;
    color: #1d2c7e;
    flex-shrink: 0;
    padding: 0 2vw;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    letter-spacing: 2px;
}
.fixed-nav .links-container ul li > a{
    color: #1d2c7e;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99999;
    max-width: 60vw;
    width: 600px;
    position: relative;
    height: 450px;
    margin: 0 auto;
    /* max-height: 60vw; */
    bottom: 80px;
    min-height: 100%;
}
.container h1{
    font-family: 'Rubik', sans-serif;
    color: #1d2c7e;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    font-size: 7vw;
    font-weight: 900;
    cursor: grab;
    -webkit-tap-highlight-color: none;
}

#hero-btn{
    margin-top: 20px;
    outline: none;
    border: 2px inset #1d2c7e;
    /* background: transparent; */
    padding: 10px;
    cursor: pointer;
    background: linear-gradient(-180deg, #252a4749 0%, #ffffff00 10%, #252a475c 90%);
    min-width: 70%;
    max-width: 50%;
    border-radius: 50px;
    box-shadow: 0 1rem 1.25rem 0 #252a47 inset;
    padding-top: 25px;
    transition: all .3s ease-in;
    font-size: xx-small;
    /* line-height: 2.75rem; */
    -webkit-tap-highlight-color: transparent;
    transform: scale(1);
}

/* #hero-btn::after{
    content: 'CONNECT';
} */
#hero-btn:hover{
    background: linear-gradient(-180deg, #ffffff92 0%, #f8f5f500 20%, #ffffff00 80%, #ffffff92 100%);
    box-shadow: none;
    transform: scale(.9);
    padding-top: 15px;
}
/* #hero-btn:hover::after{
    content: 'CONNECT📧';
} */
 a#hero-btn, #hero-btn::after, #hero-btn:hover::after{
    text-decoration: none;
    color: #1d2c7e;
    font-family: 'RubikMedium';
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 0.9em;
    text-align: center;
}

.subscribe{
    background-color: #930e0ee8;
    width: 12px;
    color: #fff;
    position: fixed;
    top: calc(100vh - 65vh);
    z-index: 9999999999;
    /* left: 95%; */
    visibility: hidden;
    /* opacity: 0; */
    transition: all 0.5s .2s;
    cursor: pointer;
    font-weight: bold;
    font-size: .9em;
  }
  .hide-sub{
    background-color: #930e0ee8;
    width: 12px;
    color: #fff;
    position: fixed;
    z-index: 9999999999;
    top: calc(100vh - 65vh);
    left: 0%;
    visibility: visible;
    transition: all 0.5s .2s;
    cursor: pointer;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
  }
  .show-clox{
    background-color: #930e0ee8;
    width: 12px;
    color: #fff;
    position: fixed;
    z-index: 9999999999;
    top: calc(100vh - 62vh);
    left: 40%;
    /* opacity: 1; */
    visibility: visible;
    transition: all 0.5s ease .5s;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    -webkit-tap-highlight-color: transparent;
    font-size: .9em;
  }
  .clox{
      visibility: hidden;
      transition: all 0.5s ease .05s;
      font-size: .9em;
  }
 
  
  .profile-container *{
    font-size: 1.05em;
    line-height: 1.5;
  }

  .register{
    background: linear-gradient(225deg, #001732 40%, #09090a 65%);
    width: 40%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s .2s;
    transform: translateX(0%);
    position: fixed;
    z-index: 9999999;
  }
  .profile-container{
    position: relative;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}
.profile-container *{
      /* font-family: 'RubikMedium'; */
    color: white;
  }
  @keyframes wave{
    0%{transform: rotate(0.0deg);}
    10%{transform: rotate(14.0deg);}
    20%{transform: rotate(-8deg);}
    30%{transform: rotate(14deg);}
    40%{transform: rotate(-4deg);}
    50%{transform: rotate(10.0deg);}
    60%{transform: rotate(0.0deg);}
    100%{transform: rotate(0.0deg);}
  }
  .profile-content .wave{
      display: inline-block;
      animation: wave 2.5s infinite;
      transform-origin: 70% 70%;
  }

  .profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #930e0ee8;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    margin: 50px 0;
  }

  .profile-img img{
    max-width: 100%;
    height: auto;
  }
  
  .profile-content{
      display: flex;
      flex-direction: column;
      align-items: center;justify-content: center;

  }
  .profile-content h2{
    font-size: 24px;
    letter-spacing: 3px;
  }
  .profile-content p{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 12px;
    line-height: 1.5;
    width: 80%;
    letter-spacing: .05em;
  }

  .profile-content a{
    text-decoration: none;
    cursor: pointer;
    transition: all 1s ease-in-out;
  }
  .profile-content a:hover{
    transform: translateY(-5px);
    
  }
.social-icons{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}
  .profile-resume{
    margin-top: 100px;
    -webkit-tap-highlight-color: transparent;
  }
  .profile-resume a{
      cursor: pointer;
      text-decoration: none;
  }
  .profile-footer{
      margin-top: auto;
  }
  .profile-footer span{
    font-size: 12px;
  }
  .show-register{
     transform: translateX(-100%);
  }
  label{
    /* text-align: right; */
    margin-right: 10px;
    color:white;
  }
  /* input[type='text'], input[type='email']{
    margin-left:26px;
  } */
  .card-body div#button{
   display: flex;
   justify-content: center;
   margin-top: 10px;
  }
  
  .card-body div#button button{
    width: 100%;
  
  }
  

  footer.section{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.top-link{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    margin-bottom: 20px;
    background: linear-gradient(-180deg, #252a4749 0%, #ffffff00 10%, #252a475c 90%);
    box-shadow: 0 1rem 1.25rem 0 #252a47 inset;
    /* border: 1px inset #1d2c7e; */
    transition: all .5s linear;
    visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    z-index: 999999;
}
.top-link:hover{
    background-color: rgba(255, 255, 255, 0.517);
}
.show-link{
    visibility: visible;
}
.top-link:hover{
    transform: translateY(-7px);
}
.copyright{
    font-size: .8em;
    letter-spacing: 2px;
}
.profile-footer span{
    letter-spacing: 2px;
}